<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventEncoder">
            <provider class="net.logstash.logback.composite.loggingevent.LoggingEventJsonProviders">
                <timestamp />
                <message />
                <loggerName />
                <threadName />
                <logLevel />
                <mdc /> <!-- incluye MDC: traceId/spanId -->
                <arguments />
                <stackTrace />
            </provider>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>

